/* Estilo para tablets */
@media only screen and (min-width: 788px) and (max-width: 979px) {

	/* Qualidade */
	.qualidade:after {
		right: 66px;
	}

	.qualidade-lista li {
		padding: 0 10px;
	}

	/* Footer */
	.footer-redes ul li a {
		padding: 6px;
	}

	.footer-redes ul li a img {
		width: 26px;
		height: 26px;
	}
}

/*Estilo para smartphone */
@media only screen and (max-width: 787px) {

	/* Header */
	.header {
		position: relative;
		padding-bottom: 0;
	}

	.header img {
		margin: 0 auto 20px auto;
	}

	.header-menu {
		text-align: center;
	}

	.header-menu ul li {
		margin: 5px;
	}

	.header-menu ul li a {
		border: 4px solid #000;
		width: 136px;
		display: block;
		float: left;
	}

	.header-menu ul li a:hover {
		border-color: #fff;
	}

	.header-menu ul li a.menu-ativo {
		border-color: #fff;
	}
	/* Introducao */

	.introducao h1 {
		font-size: 32px;
	}

	.introducao {
		margin-top: 0px;
		padding-top: 40px;
		background: url("../img/bg-mobile.jpg") no-repeat center;
		background-size: cover;
	}

	/* Introdução Interna */
	.introducao-interna {
		margin-top: 0px;
	}

	/* Call */
	.call {
		padding-top: 10px;
	}

	/* Qualidade Home */

	.qualidade:after {
		display: none;
	}

	/* Sobre */
	.missao-sobre p {
		font-size: 14px;
		line-height: 20px;
		padding-right: 0px;
	}

	.missao-sobre ul li {
		font-size: 14px;
		line-height: 25px;
	}
}